spring.application.name=fittrack
server.port=8086
# PostgreSQL Configuration
spring.datasource.url=jdbc:postgresql://localhost:5433/${POSTGRES_DB}
spring.datasource.username=${POSTGRES_USER}
spring.datasource.password=${POSTGRES_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

# Hibernate Config
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

# Optional: show SQL in logs
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Frontend URL
app.frontend-url=${APP_FRONTEND_URL}

# SMTP Config
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=${SPRING_MAIL_USERNAME}
spring.mail.password=${SPRING_MAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
app.mail.sender-name=${APP_MAIL_SENDER_NAME}

# JWT ACCESS TOKEN EXPIRY
app.refresh-token.expiry-days=
